body {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-image: url("../images/img.jpg");; /* Apply the background image to the entire body */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  margin: auto;
  color: whitesmoke;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(11, 15, 13, 0.582);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px 25px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

p {
  text-align: center;
}

input {
  margin: 0.25em 0em 1em 0em;
  outline: none;
  padding: 0.5em;
  border: none;
  background-color: rgb(225, 225, 225);
  border-radius: 0.25em;
  color: black;
}

button {
  padding: 0.75em;
  border: none;
  outline: none;
  background-color: rgb(68, 18, 232);
  color: white;
  border-radius: 0.25em;
}

button:hover {
  cursor: pointer;
  background-color: rgb(41, 4, 164);
}
